main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

main #apercu-oeuvre-template {
    display: none;
}

main .apercu-oeuvre {
    margin: 1em;
    height: fit-content;
    width: 300px;
    padding: .5rem;
}

main .apercu-oeuvre:hover {
    box-shadow: 0px 0px 10px 5px rgb(165, 165, 165);
    transition: all 0.5s ease;
}

main .apercu-oeuvre img {
    width: 300px;
}

main .apercu-oeuvre h1 {
    font-size: 1.2em;
}

main .apercu-oeuvre h2 {
    font-size: 1em;
    font-weight: normal;
}

main #boutonScroll {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background: rgba(58, 57, 57, 0.187);
    border-radius:50%;
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: auto;
}