main {
    text-align: left;
    padding: 0vw 20vw 5vw 20vw;
}

main h1 {
    padding-top:5rem;
    padding-bottom: 2rem;
    text-align: center;
}

main li {
    padding-top: 1rem;
}

@media screen and (max-width: 1000px) {
    main {
        padding: 0vw 10vw 5vw 10vw;
    }
}