main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 3rem 0rem;
}

main #conteneurLoader {
    width: max-content;
    padding-left: 10%;
}

main #informations {
    text-align: left;
    float: right;
    padding: 3rem;
}

main img {
    display: none;
    width: 90%;
    max-width: 25rem;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
 }
main #divConteneur {
    width: max-content;
    padding-left: 42%;
}