footer{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr 3fr 3fr 3fr;
    grid-template-rows: 3fr 1fr;
    padding-top: 20px;
}
div ul{
    list-style: none;
}

#footerPremierePartie{
    grid-column: 2;
    font-size: 16px;
    justify-self: center;
    align-self: start;
}

#footerDeuxiemePartie{
    grid-column: 4;
    justify-self: center;
    align-self: start;
}

.footerLienGras{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.footerLienBasique{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

a:hover{
    text-decoration: underline;
}

#footerTroisiemePartie{
    grid-column: 5;
    justify-self: center;
    align-self: center;
}

.icon{
    width: 2vw;
}
.icon:hover{
    filter: brightness(70%);
}

#boutonInfo {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    margin: 3px 1px;
    cursor: pointer;
}

#boutonInfo:hover{ 
    filter: brightness(70%);
}
#boutonInfo:active{
    box-shadow: -10px -10px 30px ; 
}

#footerQuatriemePartie{
    grid-column: 2/6;
    grid-row: 2;
    place-self: center;
}

.footerLienPetit{
    text-decoration: none;
    font-size: 14px;    
    color: white;
    margin: 20px;
}

#liste{
    display: flex;
    border-top: 1px solid white;
    padding: 20px;
}